:root {
    --side-width: 175px;
}

#__side {
    width: var(--side-width);
    font-size: 12px;
    position: fixed;
    right: 0px;
    top: 0px;
    margin-right: 26px;
    margin-top: 26px;
    height: calc(100vh - 26px);
    overflow-y: scroll;
    overflow-x: hidden;
}

#__side a {
    cursor: pointer;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#__side ul {
    list-style-type: none;
    padding-inline-start: 15px;
}

#__side > ul {
    padding-inline-start: 5px;
}

#__side li {
    display: block;
}

#__markdown-content {
    margin-right: var(--side-width);
}

div.uppercase {
    text-transform: uppercase;
    font-weight: bold;
}